{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>{{params['blog_name']}}</h2>
                            <span class="subheading">{{params['tag_line']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts %}
                    <li><a href="/post/{{ post.slug }}">{{ post.title }}</a>
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title"> {{ post.title }}</h2>

                            <h3 class="post-subtitle">{{post.tag_line}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on {{post.date}}
                        </p>
                    </div>
                    <!-- Divider-->
                    {{post.content[0:200]}}...
                    <hr class="my-4" />

                </li>
                    {% endfor %}

                    

                
                    <!-- Pager -->
                     <div class="d-flex justify-content-between">
                      <a class="btn btn-primary text-uppercase" href="{{prev}}">← Previous</a>
                     <a class="btn btn-primary text-uppercase" href="{{next}}">Next →</a>
                    </div>

                    
                </div>
            </div>
        </div>
        
      
{% endblock %}
